<h2 mat-dialog-title>Passenger complaints</h2>
<div mat-dialog-content>
  <p>What's your complaint?</p>
  <mat-form-field class="w-100">
    <textarea
      matInput
      placeholder="Type here..."
      [(ngModel)]="complaintReason"
      style="height: 10vh"
    ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions class="d-flex justify-content-between">
  <button
    mat-button
    class="border border-1 border-dark"
    (click)="closeDialogOnNo()"
  >
    No Thanks
  </button>
  <button
    mat-button
    [mat-dialog-close]="complaintReason"
    cdkFocusInitial
    class="bg-black text-white"
  >
    Save complaint
  </button>
</div>
