<div>
  <form
    [formGroup]="forgotPasswordForm"
    #formDirective="ngForm"
    class="forgotPasswordForm"
    (ngSubmit)="onSubmit(formDirective)"
  >
    <mat-grid-list
      flex
      layout="column"
      cols="2"
      rowHeight="5em"
      style="width: 30%;margin-top: 10vh"
      gutterSize="1em"
    >
      <mat-grid-tile colspan="2">
        <h4>Enter your email, we'll send you a password reset link in inbox. </h4>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error
            *ngIf="
              this.forgotPasswordForm.get('email')?.hasError('required')
            "
          >Email is required field.</mat-error
          >
          <mat-error
            *ngIf="
              this.forgotPasswordForm.get('email')?.hasError('pattern')
            "
          >Please provide a valid email address.</mat-error
          >
        </mat-form-field>

      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <button type="submit" mat-button class = "forgotPasswordSubmit"> Submit
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>

