<div class="wrapper">
  <app-passenger-map-form
    *ngIf="(passengerState$ | async) === passengerStateEnum.FORM_FILL"
  ></app-passenger-map-form>
  <app-ride-driver-info
    *ngIf="(passengerState$ | async) !== passengerStateEnum.FORM_FILL"
  ></app-ride-driver-info>
  <app-driver-map-info *appHasRole="['DRIVER']"></app-driver-map-info>
  <div id="map" class="map col-12"></div>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div id="popup" [ngClass]="driver ? null : 'hidden'" class="ol-popup" #popup>
    <app-selected-driver-info *ngIf="driver"></app-selected-driver-info>
  </div>
</div>
