.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

.mat-progress-spinner {
  position: absolute;
  align-self: center;
}

.map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ol-popup {
  position: absolute;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  border: 1px solid #cccccc;
  bottom: 45px;
  left: -130px;
  min-width: 280px;
}

app-passenger-map-form, app-driver-map-info{
  position: absolute;
  z-index: 99;
  height: 60vh;
  width: 32vw;
  padding: 3rem;
}
