mat-form-field {
  width: 100%;
}

.editForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

hr {
  border: none;
  color: lightgray;
  background-color: lightgrey;
  height: 1px;
  width: 42%;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;

}

.title > p {
  margin-left: 2%;
  margin-right: 2%;
  color: rgba(102, 99, 99, 0.799);
}

.submitBtn {
  background-color: #000000;
  color: white;
  width: 100%;
}

.submitBtn:disabled {
  background-color: rgba(128, 128, 128, 0.3);
}
