<div class="container">
  <form [formGroup]="passwordChangeForm" class="authForm" (ngSubmit)="onSubmit()">
    <mat-grid-list
      flex
      layout="column"
      cols="2"
      rowHeight="4:1"
      style="width: 100%"
      gutterSize="0.5em"
    >
      <mat-grid-tile colspan="2">
        <div class="title text-center">
          <hr />
          <p>NEW PASSWORD</p>
          <hr />
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput autocomplete="new-password" formControlName="password" type="password" />
          <mat-error *ngIf="password.errors?.['required']">
            Password is a mandatory field
          </mat-error>
          <mat-error *ngIf="!password.errors?.['required'] && password.errors?.['pattern']">
            Password must contain 8 to 32 characters, at least 1 lowercase letter, 1 uppercase letter, 1 digit and 1 special character
          </mat-error>
          <mat-error *ngIf="!password.errors?.['required'] && !password.errors?.['pattern'] && password.errors?.['passwordIsNotNew']">
            Password cannot be same as the old password!
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput autocomplete="new-password" formControlName="confirmationPassword" type="password" />
          <mat-error *ngIf="confirmationPassword.errors?.['required']">
            Password is a mandatory field
          </mat-error>
          <mat-error *ngIf="!confirmationPassword.errors?.['required'] && confirmationPassword.errors?.['pattern']">
            Password must contain 8 to 32 characters, at least 1 lowercase letter, 1 uppercase letter, 1 digit and 1 special character
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <button type="submit" mat-button class="submitBtn" [disabled]="!passwordChangeForm.valid">Change Password</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
