<div class="row">
  <div class="d-none d-sm-block col-md-2 col-lg-2 mt-4">
    <a class="col" *ngIf="role==='PASSENGER' || role==='DRIVER'" @listTrigger [ngClass]="activeRoute === 'history'? 'active' : null" mat-button routerLink="history">Ride History</a>
    <a *ngIf="role==='PASSENGER'" @listTrigger [ngClass]="activeRoute === 'favouriteRoutes'? 'active' : null" mat-button routerLink="favouriteRoutes">Favourite Routes</a>
    <a @listTrigger [ngClass]="activeRoute === 'edit'? 'active' : null" mat-button routerLink="edit">Profile</a>
    <a @listTrigger [ngClass]="activeRoute === 'passConfirm' || activeRoute === ' pass'? 'active' : null" mat-button routerLink="passConfirm">Password Change</a>
    <a *ngIf="role==='PASSENGER'" @listTrigger [ngClass]="activeRoute === 'paymentMethods'? 'active' : null" mat-button routerLink="paymentMethods">Payment Methods</a>
  </div>
  <div *ngIf="activeRoute !== 'history'" class="d-none d-sm-block col-md-2 col-lg-2"></div>
  <div [ngClass]="activeRoute === 'history'? 'col-sm-12 col-md-10 col-lg-10 mt-4': 'col-sm-12 col-md-4 col-lg-4 mt-4'">
    <router-outlet></router-outlet>
  </div>
</div>

