<mat-toolbar class="toolbar" color="primary">
  <div class="toolbar-content">
    <div class="toolbar-logo">
      <a mat-button routerLink="/"><h1>Taxify</h1></a>
    </div>
    <div class="authentication">
      <a
        mat-button
        routerLink="/auth/login"
        *ngIf="!isAuthenticated"
        id="loginBtn"
        >Log in</a
      >
      <app-navbar-profile-menu *ngIf="isAuthenticated"></app-navbar-profile-menu>
      <a mat-button *ngIf="isAuthenticated" (click)="onLogout()">Log out</a>
      <a mat-raised-button *ngIf="!isAuthenticated" routerLink="/auth/signup"
        >Sign up</a
      >
    </div>
  </div>
</mat-toolbar>
