h1 {
  color: #F9C900;
  font-size: xx-large;
  filter: brightness(1.1);
}

.links {
  min-width: 10%;
}

.help-btn {
  aspect-ratio: 1/1;
  height: 50%;
  background-image: url("/assets/help.png");
}

