<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    (click)="showNotifications()"
  >
    Notifications
  </button>
  <ul
    class="dropdown-menu notificationsMenu"
    aria-labelledby="dropdownMenuButton1"
  >
    <li *ngFor="let notification of notifications" class="notification">
      <div class="ps-3 pb-2">
        <span
          class="fw-normal"
          *ngIf="notification.type === 'ADDED_TO_THE_RIDE'"
        >
          {{ notification["senderName"] }}
          {{ notification["senderSurname"] }} </span
        ><span class="text-secondary fw-normal">{{
          getNotificationMessage(notification)
        }}</span>
        <div
          class="fw-lighter text-muted fw-bold"
          style="font-weight: 600; font-size: smaller"
        >
          <small
            ><span>{{ getNotificationTime(notification) }}</span>
            <span class="ms-1">ago</span></small
          >
        </div>
      </div>
    </li>
  </ul>
</div>
