#sendBtn:disabled {
    background-image: url("/assets/send-disabled.png");
  };
  
  #sendBtn {
    border: none;
    background-image: url("/assets/send.png");
  }
  
  button:disabled {
    transform: none !important;
  }
  
  button:hover, label.image-btn:hover {
    transform: translateY(-0.25em);
  }
  
  .col-2 {
    padding-top: 0.8rem !important;
  }
  
  .image-btn {
    min-width: 20px;
    max-width: 40px;
    min-height: 20px;
    max-height: 40px;
    width: 100%;
    aspect-ratio: 1/1;
  }
  