a {
  background-color: #fafafa;
  color: darkgray;
  width: 100%;
  margin-bottom: 0.2em;
  text-align: left;
}

a:hover {
  color: black;
}

a.active {
  font-weight: bolder;
  border-right: 10px solid black;
  color: black;
}



