<div class="container">
  <form [formGroup]="reauthForm" class="authForm" (ngSubmit)="onSubmit()">
    <mat-grid-list
      flex
      layout="column"
      cols="2"
      rowHeight="4:1"
      style="width: 100%"
      gutterSize="0.5em"
    >
      <mat-grid-tile colspan="2">
        <div class="title text-center">
          <hr />
          <p>IS THAT YOU?</p>
          <hr />
        </div>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput autocomplete="new-password" formControlName="password" type="password" />
          <mat-error *ngIf="password.errors?.['required']">
            Password is a mandatory field
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <button type="submit" mat-button class="submitBtn" [disabled]="!reauthForm.valid">Confirm</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
