<div>
  <form
    [formGroup]="resetPasswordForm"
    #formDirective="ngForm"
    class="resetPasswordForm"
    (ngSubmit)="onSubmit(formDirective)"
  >
    <mat-grid-list
      flex
      layout="column"
      cols="2"
      rowHeight="5em"
      style="width: 30%;margin-top: 10vh"
      gutterSize="1em"
    >
      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>New password</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-error
            *ngIf="
              this.resetPasswordForm.get('password')?.hasError('required')
            "
          >Password is required field.</mat-error
          >
          <mat-error
            *ngIf="
              this.resetPasswordForm.get('password')?.hasError('minlength')
            "
          >Password must contain at least 8 characters.</mat-error
          >
          <mat-error
            *ngIf="
              this.resetPasswordForm.get('password')?.hasError('pattern')
            "
          >Password contain at least one number, symbol, uppercase and
            lowercase letter.</mat-error
          >
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <mat-form-field appearance="fill">
          <mat-label>Confirm new password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" />
          <mat-error
            *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')"
          >Confirm password is required field.</mat-error
          >
          <mat-error
            *ngIf="
              resetPasswordForm.get('confirmPassword')?.hasError('confirmedValidator')
            "
          >Passwords do not match.</mat-error
          >
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="2">
        <button type="submit" mat-button class = "resetPasswordSubmit"> Submit
        </button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>


